/* your custom css */

.homeGifContainer .blockContent p {
  max-width: none;
}

.homeGifContainer .blockImage {
  max-width: none;
  max-height: 400px;
}

.homeGifContainer .blockImage img {
  max-height: 400px;
  width: auto;
}

.homeGifContainer .gridBlock .twoByGridBlock {
  flex: 1 0 100%;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
