.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 128px;
  height: 128px;
  margin: 20px;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
  // 使用了此需要启动的时候加上 --server 选项
  // background-image: url("images/heart@3x.png");
}

.usermotto {
  margin-top: 200px;
}
