.toast {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 18px;
  text-align: center;
  border-radius: 4px;
  z-index: 100;
}
